# Script
# (11/02/2021)

# Config block
[config]
file_version  = 5

data_dir = "/mnt/internal/data"
mask_dir = "/etc/drops/logger_masks"

max_file_size = 100000000

# Unit info: "Stationary" or "Mobile"
unit_info = "Stationary"

method    = "Script"
localtime = 1

strYear  = "2021"
startDay = "08/02/2021"
stopDay  = "31/12/2021"


# Streams block
[streams]
a = file,"%(data_dir)s/%(strYear)s/%(unit)s_%(date)s_T%(time)s.bin"
b = file,"%(data_dir)s/%(strYear)s/%(unit)s_%(date)s_T%(time)s_MaskBroken.bin"
c = http


# Timer block
[run timer 1]
timer = 1 min

message = 1,   cd,  1 scan , "Captura de dados em andamento. %(method)s. Período de observação planejado: %(startDay)s - %(stopDay)s."
info    = 1, abcd, 60 scans, "Informações do Sistema"
gps     = 1, abcd,  1 scan , "GPS", force=1


# PRD_M
# Faixas principais:
[run scan PRD_1]
# 50-90MHz, 1024 (sweep points), 39.101 kHz (step)
scan = 1 sec, 0, 54, 88, 100, 0, dBuVm=0
peak0 = 10, ac, 1 scan, "PRD 2021 (Faixa principal 1 de 4)."

[run scan PRD_2]
# 70-110MHz, 1024 (sweep points), 39.101 kHz (step)
scan = 1 sec, 0, 76, 108, 100, 0, dBuVm=1
peak0 = 20, ac, 1 scan, "PRD 2021 (Faixa principal 2 de 4)."

[run scan PRD_3]
# 170-220 MHz, 1280 (sweep points), 39.093 kHz (step)
scan = 1 sec, 0, 174, 216, 100, 0, dBuVm=0
peak0 = 30, ac, 1 scan, "PRD 2021 (Faixa principal 3 de 4)."

[run scan PRD_4]
# 470-700 MHz, 5888 (sweep points), 39.069 kHz (step)
scan = 1 sec, 0, 470, 698, 100, 0, dBuVm=1
peak0 = 40, ac, 1 scan, "PRD 2021 (Faixa principal 4 de 4)."
